
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

     <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="mb-4">
                        <h3>Fast Pizza</h3>
                        <p class="text-justify">We have everything for our guests, we waiting for your calls, we are glad to see you here again my friend, thank you for review !</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="mb-4 ml-md-4">
                        <h3>Company</h3>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1">About Us</a></li>
                            <li><a href="#" class="py-1">Contact Us</a></li>
                            <li><a href="#" class="py-1">Terms & Conditions</a></li>
                            <li><a href="#" class="py-1">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="mb-4">
                        <h3>Questions to us?</h3>
                        <div class="mb-3">
                            <ul class="list-unstyled">
                                <li class="py-1"><i class="bi bi-geo-alt"></i>  Krolewska 92/71  </li>
                                <li class="py-1"><a href="#"><i class="bi bi-phone"></i> +48 000 000 000</a></li>
                                <li class="py-1"><a href="#"><i class="bi bi-envelope"></i> info@fastpizza.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    Copyright © @DateTime.Now.Year | Welcome to our FastPizza website <i class="bi bi-heart" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </footer>